.chat-buttons {
  display: flex;
  flex-wrap: wrap;
  .chat-button {
    margin-top: 15px;
    margin-right: 10px;
    padding: 8px 14px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 30px;
    cursor: pointer;
  }
}
