.chat__content {
  display: flex;
  align-items: center;
  width: fit-content;
  max-width: 200px;
  margin-top: 10px;
  padding: 15px;
  background-color: #f1f3f5;
  border-radius: 0 40px 40px 40px;
  line-height: 1.25em;
  font-size: 15px;
  &.chat__content--mine {
    background-color: #ffe066;
    border-radius: 40px 0 40px 40px;
  }
}
