.complete-page {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .complete__wrapper {
    .complete__img {
      width: 250px;
      height: 250px;
    }
    .complete__message {
      display: block;
      font-size: 28px;
      line-height: 1.5em;
      .highlight {
        font-weight: bold;
        color: #9775fa;
      }
    }
  }
}
