@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap");

html,
body,
#root {
  height: 100%;
  font-family: "Nanum Gothic", sans-serif;
}

* {
  box-sizing: border-box !important;
}
