.nav {
  height: 55px;
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.1);
  .nav__cols {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 15px;
    .nav__col {
      display: flex;
      align-items: center;
      .back {
        margin-right: 5px;
        cursor: pointer;
        svg {
          width: 35px;
          height: 35px;
        }
      }
      .name {
        font-size: 20px;
        font-weight: bold;
      }
      .menu {
        cursor: pointer;
        font-size: #adb5bd;
      }
    }
  }
}
